* {
  font-family: 'Roboto', sans-serif;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.movie {
  margin: 10px 20px 0 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  max-width: 300px;
}

/* .movie:hover{
  border: 2px solid #000;
} */

.movie img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333; /* Dark text color */
}

p {
  font-size: 1rem;
  margin: 5px 0;
  color: #666; /* Slightly darker text color */
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #0056b3;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 movies per row */
  gap: 20px;
}







  
